<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <div class="panel panel-info" style="margin-top:1em">
        <div class="panel-heading">
            <h1 class="panel-title" style="font-size:2em">
                WELCOME PAGE
            </h1>
        </div>
    </div>
    <div class="panel-body">
        <p class='lead'>
            Welcome! I appreciate your participation in this study.  
            This assessment is designed to explore potential implicit biases among STEM educators teaching grades 6–12. The process includes the following steps:
            <ol>
                <li>A brief survey assessing your self-perceived levels of racial bias.</li>
                <li>A replicated version of Harvard's Implicit Association Test (IAT).</li>
                <li>Immediate display of your results from both the survey and the IAT.</li>
                <li>Six follow-up questions.</li>
            </ol>
            The entire assessment will take no more than approximately 15 minutes to complete. You may stop at any time.  
            <br>
            Please note that all responses and results are <strong>completely anonymous</strong>, even to me as the researcher. Your honesty is vital for this research, and your participation is greatly appreciated. Thank you!
        </p>
        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary">
                Begin Study
            </button>
        </div>
    </div>
</body>
</html>
